/* Style for the navbar container */
.navbar {
border-radius: 50px;
  background-color: #333; 
   
}

/* Header Section to align logo and links in a row */
.navbar-header {
  display: flex;
  align-items: center; 
  justify-content: space-between; /* Space between logo and navbar links */
}

/* Logo container */
.logo-container {
  margin-right: 20px;  /* Optional, space between logo and navbar links */
}

/* Navbar links container */
.navbar-links-container {
  display: flex;
 
  
}

/* Style for the navbar list */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}



ul li a {
  text-decoration: none;
  color: white
}


.navbar a {
  color: #fff;
  text-decoration: none;
  
  padding: 10px;
  transition: all 0.3s ease; /* Added transition */
}

.navbar a:hover {
  background: white;
  color: #333;
  width: 100px; /* Change the width on hover */
  padding: 10px;
  margin: 10px;
  border-radius: 100px;
}